// Minty 5.2.0 -- This is a copy of vendor/vendor_bundled/thomaspark/bootswatch/dist/minty/_variables.scss with
// Tiki CSS variables added and color values updated to better comply with WCAG guidelines.

$theme: "minty" !default;

//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #f7f7f9 !default;
$gray-300: #eceeef !default;
$gray-400: #ced4da !def