// CSS variables / custom properties for base_files/scss/_tiki-pagetop_colors.scss -- Interpolation info from https://developersink.com/css/css-custom-properties-sass-variables/
// Background images (actual images or CSS gradients, etc.), if assigned, override background colors.
:root {
    --tiki-top-light-bg: #5AE3ED;
    --tiki-top-light-color: #322B0B;
    --tiki-top-light-link-color: #322B0B;
    --tiki-top-light-link-hover-color: #5B5015;

    --tiki-topbar-light-bg: #68D6DE; //#{$light};
    --tiki-topbar-light-color: #3C320B;
    --tiki-topbar-light-link-color: #3C320B;
    --tiki-topbar-light-link-hover-color: #615314;

    --tiki-top-dark-bg: #{$navbar-dark-bg};
    --tiki-top-dark-color: #{$link-color};
    --tiki-top-dark-link-color: #{$link-color};
    --tiki-top-dark-link-hover-color: #{$navbar-dark-hover-color};

    --tiki-topbar-dark-bg: #6e0d0d; //#{$navbar-dark-bg};
    --tiki-topbar-dark-color: #{$navbar-dark-color};
    --tiki-topbar-dark-link-color: #{$navbar-dark-color};
    --tiki-topbar-dark-link-hover-color: #{$navbar-dark-hover-color};
}

.tiki-admin {
    --tiki-admin-navbar-dark-bg: var(--tiki-top-dark-bg);
    --tiki-admin-dropdown-dark-color: var(--tiki-topbar-dark-link-color);
    --tiki-admin-dropdown-dark-hover-bg: #{$dropdown-dark-link-hover-bg};
    --tiki-admin-dropdown-dark-bg: #{$dropdown-dark-bg};
    --tiki-admin-navbar-light-bg: var(--tiki-top-light-bg);
    --tiki-admin-dropdown-light-hover-color: #{$navbar-light-hover-color};
    --tiki-admin-dropdown-light-bg: #{$dropdown-bg};
    --tiki-admin-toggle-light-bg: #{$dropdown-bg};
    --tiki-admin-navbar-dark-highlight-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-navbar-dark-highlight-color: #{$dropdown-link-hover-color};
    --tiki-admin-navbar-light-highlight-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-navbar-light-highlight-color: #{$dropdown-link-hover-color};
}